@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login-logo {
    margin-top: 0.9rem;
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: 0.9rem;
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
}

div {
    display: block;
}

.login-card-body,
.register-card-body {
    background: #fff;
    border-top: 0;
    color: #666;
    padding: 20px;
}

.input-group {
    border: 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.login-card {
    width: 360px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}